# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_PUBLIC_KEY=
DISCORD_DEV_GUILD_ID=

# Database
DATABASE_URL=postgresql://user:pass@localhost:5432/artemis
REDIS_URL=redis://localhost:6379

# Twitch
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Steam
STEAM_API_KEY=

# Deadlock Hub
HUB_API_URL=
HUB_API_KEY=

# App
NODE_ENV=development
LOG_LEVEL=info
